body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculator {
    width: 400px;
    height: 600px;
}
#screen {
    height: 25%;
    background-color: green;
}
#buttons-container {
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

#buttons-container button {
    width: 16%;
}